openapi: 3.0.0
info:
  description: |
    Pinterest CM sv-cl API
  version: 1.2.1
  title: Pinterbest
  license:
    name: Pinterbest
    url: https://github.com/frontend-park-mail-ru/2021_1_Code_Magicians
servers:
  - url: 'https://pinter-best.com'
    description: Main production server
tags:
  - name: auth
    description: Authorization operations
  - name: pin
    description: Everything about pins
  - name: board
    description: Everything about boards
  - name: profile
    description: Operations about profile
  - name: comment
    description: Operations about comments
paths:
  /auth/signup:
    $ref: paths/auth/auth@signup.yaml
  /auth/login:
    $ref: paths/auth/auth@login.yaml
  /auth/logout:
    $ref: paths/auth/auth@logout.yaml
  /auth/check:
    $ref: paths/auth/auth@check.yaml
  /profile:
    $ref: paths/profile/profile.yaml
  '/profile/{ID_or_username}':
    $ref: 'paths/profile/profile@{ID_or_username}.yaml'
  /profile/password:
    $ref: paths/profile/profile@password.yaml
  /profile/edit:
    $ref: paths/profile/profile@edit.yaml
  /profile/avatar:
    $ref: paths/profile/profile@avatar.yaml
  /profile/delete:
    $ref: paths/profile/profile@delete.yaml
  '/profiles/{searchKey}':
    $ref: 'paths/profile/profiles@search@{searchKey}.yaml'
  '/followers/{profileID}':
    $ref: 'paths/profile/followers@{profileID}.yaml'
  '/following/{profileID}':
    $ref: 'paths/profile/following@{profileID}.yaml'
  '/follow/{ID_or_username}':
    $ref: 'paths/profile/follow@{ID_or_username}.yaml'
  /board:
    $ref: paths/boards/board.yaml
  '/board/{boardID}':
    $ref: 'paths/boards/board@{boardID}.yaml'
  '/boards/{authorID}':
    $ref: 'paths/boards/boards@{authorID}.yaml'
  '/boards/{searchKey}':
    $ref: 'paths/boards/boards@search@{searchKey}.yaml'
  /pin:
    $ref: paths/pins/pin.yaml
  '/pin/{pinID}':
    $ref: 'paths/pins/pin@{pinID}.yaml'
  '/pins/{boardID}':
    $ref: 'paths/pins/pins@{boardID}.yaml'
  '/pins/feed/{pinNumber}':
    $ref: 'paths/pins/pins@feed@{pinsNumber}.yaml'
  '/pins/{searchKey}':
    $ref: 'paths/pins/pins@search@{searchKey}.yaml'
  '/comment/{pinID}':
    $ref: 'paths/comments/comment@{pinID}.yaml'
  '/comments/{pinID}':
    $ref: 'paths/comments/comments@{pinID}.yaml'
  '/notifications/read/{notificationID}':
    $ref: 'paths/notifications@read@{notificationID}.yaml'
  '/message/{targetID_or_username}':
    $ref: 'paths/message@{targetID_or_username}.yaml'
  '/chats/read/{chatID}':
    $ref: 'paths/chats@read@{chatID}.yaml'
  /csrf:
    $ref: paths/csrf.yaml
